{% extends 'base.html' %}

<head>
    {{ title }}
</head>

{% block content %}
<body>
  
  <header class="jumbotron my-4">
    <h1 class="display-3">A little "About Us"</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header">About Tutoring Learners</h5>
            <p class="card-text"> <br> We offer a wide variety of services through our experienced experts. Our experts give a lot of insight while learning by making the learning curve interactive and fun. Apart from tutoring sessions, we also provide other help on various tasks and assignments. 
          </p>
          <p>Our essay writing services are customized to be unique for every student with the aim of improving the understanding of the concepts while maintaining their high grades.</p>
          <p>
            Research papers, Dissertations, Theses, and other essays are delivered by our professionals with precise accuracy. We have experts from all the fields who have years of work and educational experience. </p>
          </div>
        </div>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-sm-10">
    <img src="/static/header-01.jpg" class="rounded mx-auto d-block" alt="relax" width="922px" height="500px">
      </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">
            Why choose Tutoring Learners
            </h5>
          <p class="card-text"> <br> Our #1 priority is delivering 100% original content to our clients. This is because we believe that every scholar has the right to receive adequate and on-point content.  
        </p>
        <p>In our tutoring journeys, tutors not only become your mentors, but also your friends. This means that you will be able to interact with your tutor 1 on 1 on Skype and negotiate on your costs. Our tutors value your progress and can provide help 24/7.

          You can now sleep knowing your grades are in safe hands. Welcome to Tutoring Learners! </p>

        <p>
          In our tutoring sessions, every tutor who is assigned to a student present concepts in a way that every scholar understands by beginning from the fundamentals to the advanced concepts. Students can also get assigned to a specific tutor of their desire to take them through their full course or schoolwork at a price discussed between the expert and student. Any student requiring these services may reach the Tutoring Learners team through the live chat or contact page and receive instant responses. 
        </p>
        </div>
      </div>
    </div>

  </div>
  </div>    
{% endblock content %}
    
</body>

