{% extends 'base.html' %}


{% block content %}

<br>

<div class="container">

    <div class="container-fluid bg-dark text-light rounded">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Order Topic
                                </h3>
                                <p class="text-light font-light">
                                    Order Description
                                </p>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="badge badge-light">Label</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="badge badge-light">Label</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="badge badge-light">Label</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="badge badge-light">Label</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">

                                <br>
                                
                                <button type="button" class="btn btn-light" disabled>
                                    Button
                                </button>

                                <button type="button" class="btn btn-light" disabled>
                                    Button
                                </button>
                            </div>
                            <div class="col-md-6">

                                <br>
                                <br>
                                
                                <button type="button" class="btn btn-warning" disabled>
                                    Button
                                </button>

                                <button type="button" class="btn btn-warning" disabled>
                                    Button
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-4 align-items-end">
                                <br>

                                <button type="button" class="btn btn-success" >
                                    Bid Order
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
<br>
{% endblock content %}
    