{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="container-fluid bg-dark text-light rounded">
        <br>
        <a href="javascript:history.go(-1)">
        <input type="button" class="btn btn-light" value="Available Orders">
        </a>
        <br>
        <br>
    </div>
</div>

<br>

<div class="container">

    <div class="container-fluid bg-dark text-light rounded">
        <br>
        <div class="row">                
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    {{ order.topic }}
                                </h3>
                                <p class="text-light font-light">
                                    <p>Description</p>
                                    <br>
                                    {{ order.description }}
                                </p>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-4    ">
                                        <span class="badge badge-secondary">Words: {{ order.words }}</span>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="badge badge-secondary">Writing Level: {{ order.level }}</span>
                                    </div>
                                    <div class="col-md">
                                        <span class="badge badge-secondary">Language: {{ order.language }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="badge badge-danger">Deadline: {{ order.deadline }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="badge badge-light">
                                    Subject: {{ order.subject }}
                                </span>
                                
                                <br>
                                <span class="badge badge-light">
                                    Sources Needed: {{ order.sources }}
                                </span>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">

                                <span class="badge badge-light">
                                    Writing: Style: {{ order.style }}
                                </span>

                                <br>
                                <span class="badge badge-info" >
                                     Price: {{ order.price }}
                                </span>
                                <br>
                                <span class="badge badge-info" >
                                    Uploads: <a href=" {{ order.uploads.url }} " download>Assignment File(s)</a>
                               </span>
                               <br>
                               <br>
                                
                            </div>
                            <br>
                            <br>
                            <br>
                            <form action="{% url 'bid' %}" method="POST" name="bid_form">
                            {% csrf_token %}
                            <div class="col-4 align-items-end">
                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                <input type="hidden" name="bidder" value="{{ user|capfirst }}">
                                <input type="hidden" name="order_topic" value="{{ order.topic }}">
                                <textarea placeholder="Please indicate why this order should be assigned to you." name="bid_note" cols="30" rows="3" class="rounded text-light bg-dark"></textarea>
                                <input type="submit" value="Bid Order" class="btn btn-sm btn-success" name="bid_btn">
                            </div>
                            </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <br>
    </div>
    <br>
</div>
<br>
{% endblock content %}
    