{% extends 'base.html' %}


{% block content %}
<body>
    <header class="jumbotron my-4">
        <h1 class="display-3">Professionals at Your Service!</h1>
        <p class="lead">Get the best out of your relaxation. Let us handle your work.</p>
        <a href="about" class="btn btn-dark btn-lg">About Us</a>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-header">Why choose Tutoring Learners</h5>
                  <br>
                  <p class="card-text">Our #1 priority is <strong>delivering 100% original </strong> content to our clients.
                    This is because we believe that every scholar has the right to receive adequate and on-point 
                    content. 
                </p>
                <p>In our tutoring journeys, tutors not only become your mentors, but also <strong>your friends.</strong>
                This means that you will be able to interact with your tutor 1 on 1 on Skype and negotiate on your
                costs. Our tutors value your progress and can provide help 24/7. </p>
                <p>
                    You can now sleep knowing your grades are in safe hands. <strong>Welcome to Tutoring Learners!</strong></p>
                </div>
              </div>
            </div>
    
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-header">Let Professionals handle your work</h5>
                    <br>
                    <p class="card-text">Tutoring Learners has friendly and competent experts who are always available and provide 
                      personalized communication to every scholar in need of academic assistance.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-header">Fast Services</h5>
                    <br>
                    <p class="card-text">We specialize in deliverying fast services with high accuracy!  Our Professionals
                        provide hands-on learning techniques and 100% Plagiarism-free papers.
                        In our tutoring journeys, tutors not only become your mentors, but also your friends. 
                        This means that you will be able to interact with your tutor 1 on 1 on Skype and negotiate on your costs. 
                        Our tutors value your progress and can provide help 24/7.</p>
                </div>
                </div>
            </div>
          </div>
    
          <br>
    
          <div class="row">
            <div class="col-sm-10">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-header">Timely Progress!</h5>
                    <br>
                    <p class="card-text">Through our services, you will recieve updates concerning your order
                        and get all the needed information that will get you up to speed with your studies. 
                        Haven't placed an order, head or to our <a href="#"> orders </a>page.
                    </p>
                  </div>
                </div>
              </div>
          </div>
    
        </div>
        <br>
        
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock content %}