{% extends 'base.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


{% block content %}

<div class="container emp-profile bg-dark text-light">
            
            <div class="bg-dark text-light rounded">
                <a href="javascript:history.go(-1)">
                <input type="button" class="btn btn-light" value="Go Back">
                </a>
            </div>
            <br>

            
            {% for user in users.all %}  
            {% for user_info in users_info.all %}                              
            <h3 class="font-weight-light"> {{ user|capfirst }}'s Profile</h3>
            <br>
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ user.first_name }} {{ user.last_name }}
                                    </h5>
                                    <h6>
                                        {{ user_info.profession }}
                                    </h6>
                                    <p class="proile-rating">YOUR RANKING ACCORDING TO PREVIOUS PROJECTS: <span> {{ user_info.ranking }}</span></p>
                                    <p class="proile-rating">RANKINGS ARE EVALUATED FROM LEVEL 1 - 5.</p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Account Status</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id (You use this to Login)</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ user }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ user_info.phone }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ user_info.profession }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Your Current Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ user_info.rating }}</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
            {% endfor %} 
            {% endfor %}         
        </div>

{% endblock content %}
