{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if error %}
    {{ error }}
{% endif %}

<style>
    
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<br>

<div class="container">
    
    <body class="text-center">
    
        <div class="cointainer">
        <main class="form-signin">
          <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
            <img class="mb-4" src="{% static 'logo.png' %}" alt="" width="70" height="70">
            <h1 class="h4 mb-3 fw-normal">Register Now</h1>
            <input type="text" class="form-control" placeholder="Username" name="username" required >
            <br>
            <input type="email" class="form-control" placeholder="Email address" name="email" required >
            <br>
            <input type="password" class="form-control" placeholder="Password" name="password1" required>
            <br>
            <input type="password" class="form-control" placeholder="Confrirm Password" name="password2" required>
            <br>
            <input type="text" class="form-control" placeholder="First Name" name="first_name" required >
            <br>
            <input type="text" class="form-control" placeholder="Second Name" name="second_name" required >
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Join Us</button>
            <p class="mt-5 mb-3 text-muted">Tutoring Learners &copy; {% now 'Y' %}</p>
          </form>
        </main>
    </div>
        
        
            
          </body>
</div>

{% endblock content %}
    